<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cardio Diagnosis App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
      <div class="container">
        <a class="logo" href="{{ url_for('index') }}">E-Diagnose</a>
        <div class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            {% if session.get('user_id') %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
        </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        &copy; 2025 CardioApp. All Rights Reserved.
    </div>
</body>
</html>
